:root {
    --black-color: #000;
    --blue-color: #3fbcb5;
    --orange-color: #df6a45;
    --red-color: #c63131;
}

* {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
}
